<!DOCTYPE html>
<html>
<head><link rel="stylesheet" href="/static/css/styles.css">
  <title>Upload Image</title>
</head>
<body>
  <h2>Upload an Image for Classification</h2>
  <form action="/upload" method="post" enctype="multipart/form-data">
    <input type="file" name="file" accept="image/*" required>
    <button type="submit">Upload and Classify</button>

    <select name="model_id">
        {% for model in models %}
            <option value="{{ model }}" SELECTED>{{ model }}</option>
        {% endfor %}     
    </select>
  </form>
  <a href="/">Go back</a>
</body>
</html>